:root {
    /* Color scheme */
    --background-color: #fff6ea;
    --title-color: #BC5E52;
    --paper-color: #BFA181;
    --text-color: #2F2B28;
}

/* Cormorant Regular */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Cormorant/CormorantGaramond-Regular.ttf') format('truetype');
}

/* Cormorant Italic */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Cormorant/CormorantGaramond-Italic.ttf') format('truetype');
}

/* Cormorant Bold */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Cormorant/CormorantGaramond-Bold.ttf') format('truetype');
}

/* Lora Regular */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Lora/Lora-Regular.ttf') format('truetype');
}

/* Lora Italic */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Lora/Lora-Italic.ttf') format('truetype');
}

/* Lora Bold */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Lora/Lora-Bold.ttf') format('truetype');
}

/* Estado inicial invisible y preparado para la animación */
h1, .fade-in {
  opacity: 0;
  animation: appear 1s ease forwards;
}

/* Retrasamos el segundo elemento para que aparezca después del primero */
.fade-in {
  animation-delay: 0.8s; /* Aparece 0.8 segundos después */
  display: block;
  width: 100%;
}

/* Definimos la animación de aparición y movimiento */
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px); /* Comienza un poco más abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0);    /* Llega a su posición original */
  }
}


* {
    font-family: 'Lora', serif;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: justify;
}

section {
    min-height: 100vh;
    padding: 120px 0;
}

.content {
    max-width: 1000px;
    margin: auto;
	padding: 0 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: 'Cormorant Garamond', 
	serif;
	color: var(--title-color);
    margin-bottom: 30px;
	font-size: 80px;
	text-align: center;
	line-height: 1.5;
}

h2 {
	font-family: 'Cormorant Garamond', serif;
	color: var(--title-color);
    margin-bottom: 0;
	font-size: 50px;
	text-align: center;
}

.subtitle {
	font-style: italic;
	margin-bottom: 30px;
	font-size: 20px;
	text-align: center;
}

p {
    margin-bottom: 20px;
	font-size: 22px;
	line-height: 1.8;
}

::selection {
	background: var(--title-color);
	color: var(--background-color);
}

#portada {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../img/backgrounds/front-page-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: color-mix(in srgb, var(--text-color) 70%, transparent);
	background-blend-mode: multiply;
	padding: 0;
}

#portada .content {
		background-color: color-mix(in srgb, var(--text-color) 60%, transparent);
		padding: 10px 60px 40px;
}

.btn {
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	color: var(--title-color);
	border: 2px dashed var(--title-color);
	border-radius: 10px;
	padding: 10px 30px;
	display: block;
	box-sizing: border-box;
	transition: 0.5s;
}

.btn:hover {
	background-color: var(--title-color);
	color: var(--background-color);
	transform: scale(1.1);
}

.arrow {
	font-size: 50px;
	text-align: center;
	text-decoration: none;
	color: var(--title-color);
	transition: 0.5s;
}

.arrow:hover {
	color: var(--paper-color);
	transform: translateY(10px);
}

#despedida .arrow:hover {
	transform: translateY(-10px);
}

.polaroid-frame {
	background-color: #ffffff;
  	padding: 15px 15px 50px 15px;
  	display: inline-block; /* Se ajusta al tamaño del contenido */
  	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  	transform: rotate(-2deg);
  	transition: transform 0.3s ease, box-shadow 0.3s ease;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.polaroid-frame:hover {
	transform: rotate(0deg) scale(1.5);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.polaroid-img {
	display: block;
 	width: 300px;
  	height: auto;
  	border: 1.5px solid var(--text-color);
}

.polaroid-text {
	font-style: italic;
	font-size: 10;
	text-align: center;
  	margin-top: 15px;
  	color: #333;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	width: 100%;
	padding: 20px;
}

#despedida {
	background-image: url("../img/backgrounds/vintage-flowers.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#detallitos {
	background-image: url("../img/backgrounds/vintage-vertical-2.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}